<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OxyPlot.Core" version="2015.1.689-alpha" targetFramework="xamarinios1" />
  <package id="OxyPlot.Xamarin.Forms" version="2015.1.689-alpha" targetFramework="xamarinios1" />
  <package id="Xamarin.Forms" version="1.5.0.6447" targetFramework="xamarinios1" />
</packages>