<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OxyPlot.Core" version="2015.1.689-alpha" targetFramework="MonoAndroid44" />
  <package id="OxyPlot.Xamarin.Android" version="2015.1.689-alpha" targetFramework="MonoAndroid44" />
  <package id="OxyPlot.Xamarin.Forms" version="2015.1.689-alpha" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Forms" version="1.3.1.6296" targetFramework="MonoAndroid44" />
</packages>